name: Terraform

on:
  push:
    branches: [ "main" ]
    paths: [ "**.tf"]
  pull_request:
    branches: [ "main" ]
    paths: [ "**.tf"]

jobs:
  tflint:
    name: Terraform format
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install tools
        uses: asdf-vm/actions/install@05e0d2ed97b598bfce82fd30daf324ae0c4570e6 # v3

      - name: Terraform
        run: terraform fmt -check -recursive
