name: Terraform

on:
  push:
    branches: [ "main" ]
    paths: [ "**.tf"]
  pull_request:
    branches: [ "main" ]
    paths: [ "**.tf"]

jobs:
  tflint:
    name: Terraform format
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install tools
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1

      - name: Terraform
        run: terraform fmt -check -recursive
